<header class="header contenedor">
    <div class="header__logo">
        <img src="./../../../../assets/img/logo.svg" alt="Logo">
    </div>
    <nav class="navegacion">
        <a (click)="navegar('/in')" class="navegacion__link">Administrar</a>
        <a (click)="navegar('/invotar')" class="navegacion__link">Votar</a>
    </nav>
</header>

<main class="avotar contenedor">
    <div class="avotar__grid">
        <div class="avotar__imagen">
            <img src="./../../../../assets/img/main.svg" alt="Imagen Avotar">
        </div>
        <div class="avotar__contenido">
            <h2 class="avotar__heading">Elecciones i.e. aserrio 2023</h2>
            <p class="avotar__texto">No hay tal cosa como un voto que no importe. Todos son importantes.</p>
            <a (click)="navegar('/invotar')" class="btn">Votar Ahora</a>
        </div>
    </div>
</main>


